div.metahuman {
  background: transparent;

  border-radius: 5px;
  border: 2px solid #00ff1a;

  background: rgba(0, 175, 18, 0.1);
  
  box-shadow: 0px 0px 25.3px 7px rgba(0, 255, 26, 0.25);

  transition: 0.2s all;
  cursor: pointer;
}

div.metahuman:hover {
  transform: scale(1.1);
}

div.metahuman svg {
  font-size: 1.2rem;
}
